{% extends 'main/layout.html' %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Какой-то абзац, хз че здесь написать, пусть будет "Мяу"</p>
        <button class="btn btn-warning">На страницу О нас</button>

        {% for el in values %}
            <p>{{ el|upper }}</p>
        {% endfor %}

        {% for key, value in obj.items %}
            <p>{{ value }}</p>
        {% endfor %}
    </div>

{% endblock %}

{% block title %}{{ title }}{% endblock %}